"*":
  "atom-beautify":
    general:
      _analyticsUserId: "522fc668-86b8-41f4-ba42-0be803713bda"
      beautifyEntireFileOnSave: false
  "atom-clock":
    dateFormat: "h:mm a\t"
  "atom-ide-ui":
    "atom-ide-diagnostics-ui":
      autoVisibility: true
  "atom-runner":
    paneSplitDirection: "Down"
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "atom-runner"
      "vim-mode-plus"
      "atom-beautify"
      "linter-flake8"
      "linter"
      "ide-python"
      "ide-java"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    useTreeSitterParsers: false
  editor:
    fontFamily: "Hack"
    fontSize: 11
    showIndentGuide: true
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "ef2825df-00b4-4325-89f6-7eac706fdd7e"
  "ide-java":
    errors:
      incompleteClasspathSeverity: "ignore"
  kite:
    showWelcomeNotificationOnStartup: false
  "linter-ui-default":
    panelHeight: 263
  welcome:
    showOnStartup: false
